<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1> Sample Car One</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img src="img/camry.jpg" class="img-thumbnail">
		</div>
		<div class="col-md-8">
			<ul>
				<li>Make: Toyota</li>
				<li>Model:Camry</li>
				<li>Year: 2015</li>
				<li>Price: $10,000</li>
			</ul>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et porttitor velit. Sed eget erat facilisis, bibendum lorem non, 
			suscipit lorem. Cras ac iaculis sem, quis scelerisque velit. Nam libero ante, rutrum nec ullamcorper varius, iaculis sit amet metus. 
			Phasellus eget finibus quam, sed convallis just</p>
			<a href="mailto:someone@example.com" class="btn btn-primary">Contact Owner</a>
		</div>
	</div>
	<br><br>
	<div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
		<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="article.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="article.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="article.content"></p>
</section>